@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 99.2157%;
  --foreground: 0 0% 0%;
  --card: 0 0% 99.2157%;
  --card-foreground: 0 0% 0%;
  --popover: 0 0% 98.8235%;
  --popover-foreground: 0 0% 0%;
  --primary: 257.9412 100% 60%;
  --primary-foreground: 0 0% 100%;
  --secondary: 214.2857 24.1379% 94.3137%;
  --secondary-foreground: 0 0% 3.1373%;
  --muted: 0 0% 96.0784%;
  --muted-foreground: 0 0% 32.1569%;
  --accent: 221.3793 100% 94.3137%;
  --accent-foreground: 216.3158 76% 49.0196%;
  --destructive: 358.4416 74.7573% 59.6078%;
  --destructive-foreground: 0 0% 100%;
  --border: 240 17.0732% 91.9608%;
  --input: 0 0% 92.1569%;
  --ring: 0 0% 0%;
  --chart-1: 148.0952 53.3898% 53.7255%;
  --chart-2: 257.9412 100% 60%;
  --chart-3: 24.8571 98.1308% 58.0392%;
  --chart-4: 217.0787 76.7241% 54.5098%;
  --chart-5: 0 0% 45.4902%;
  --sidebar: 210 42.8571% 97.2549%;
  --sidebar-foreground: 0 0% 0%;
  --sidebar-primary: 0 0% 0%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 0 0% 92.1569%;
  --sidebar-accent-foreground: 0 0% 0%;
  --sidebar-border: 0 0% 92.1569%;
  --sidebar-ring: 0 0% 0%;
  --font-sans: Plus Jakarta Sans, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 0.75rem;
  --shadow-2xs: 0px 2px 3px 0px hsl(0 0% 0% / 0.08);
  --shadow-xs: 0px 2px 3px 0px hsl(0 0% 0% / 0.08);
  --shadow-sm: 0px 2px 3px 0px hsl(0 0% 0% / 0.16),
    0px 1px 2px -1px hsl(0 0% 0% / 0.16);
  --shadow: 0px 2px 3px 0px hsl(0 0% 0% / 0.16),
    0px 1px 2px -1px hsl(0 0% 0% / 0.16);
  --shadow-md: 0px 2px 3px 0px hsl(0 0% 0% / 0.16),
    0px 2px 4px -1px hsl(0 0% 0% / 0.16);
  --shadow-lg: 0px 2px 3px 0px hsl(0 0% 0% / 0.16),
    0px 4px 6px -1px hsl(0 0% 0% / 0.16);
  --shadow-xl: 0px 2px 3px 0px hsl(0 0% 0% / 0.16),
    0px 8px 10px -1px hsl(0 0% 0% / 0.16);
  --shadow-2xl: 0px 2px 3px 0px hsl(0 0% 0% / 0.4);
  --tracking-normal: -0.025em;
  --spacing: 0.27rem;
}

.dark {
  --background: 225 7.1429% 10.9804%;
  --foreground: 0 0% 94.1176%;
  --card: 228 6.8493% 14.3137%;
  --card-foreground: 0 0% 94.1176%;
  --popover: 228 6.8493% 14.3137%;
  --popover-foreground: 0 0% 94.1176%;
  --primary: 257.6687 100% 68.0392%;
  --primary-foreground: 0 0% 100%;
  --secondary: 226.6667 9.6774% 18.2353%;
  --secondary-foreground: 0 0% 94.1176%;
  --muted: 226.6667 9.6774% 18.2353%;
  --muted-foreground: 0 0% 62.7451%;
  --accent: 217.2414 32.5843% 17.451%;
  --accent-foreground: 208.209 100% 73.7255%;
  --destructive: 0 90.604% 70.7843%;
  --destructive-foreground: 0 0% 100%;
  --border: 222.8571 6.422% 21.3725%;
  --input: 222.8571 6.422% 21.3725%;
  --ring: 257.6687 100% 68.0392%;
  --chart-1: 141.8919 69.1589% 58.0392%;
  --chart-2: 257.6687 100% 68.0392%;
  --chart-3: 0 93.5484% 81.7647%;
  --chart-4: 217.5484 87.5706% 65.2941%;
  --chart-5: 0 0% 62.7451%;
  --sidebar: 240 4.3478% 9.0196%;
  --sidebar-foreground: 0 0% 94.1176%;
  --sidebar-primary: 257.6687 100% 68.0392%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 226.6667 9.6774% 18.2353%;
  --sidebar-accent-foreground: 257.6687 100% 68.0392%;
  --sidebar-border: 222.8571 6.422% 21.3725%;
  --sidebar-ring: 257.6687 100% 68.0392%;
  --font-sans: Plus Jakarta Sans, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 0.75rem;
  --shadow-2xs: 0px 2px 3px 0px hsl(0 0% 0% / 0.08);
  --shadow-xs: 0px 2px 3px 0px hsl(0 0% 0% / 0.08);
  --shadow-sm: 0px 2px 3px 0px hsl(0 0% 0% / 0.16),
    0px 1px 2px -1px hsl(0 0% 0% / 0.16);
  --shadow: 0px 2px 3px 0px hsl(0 0% 0% / 0.16),
    0px 1px 2px -1px hsl(0 0% 0% / 0.16);
  --shadow-md: 0px 2px 3px 0px hsl(0 0% 0% / 0.16),
    0px 2px 4px -1px hsl(0 0% 0% / 0.16);
  --shadow-lg: 0px 2px 3px 0px hsl(0 0% 0% / 0.16),
    0px 4px 6px -1px hsl(0 0% 0% / 0.16);
  --shadow-xl: 0px 2px 3px 0px hsl(0 0% 0% / 0.16),
    0px 8px 10px -1px hsl(0 0% 0% / 0.16);
  --shadow-2xl: 0px 2px 3px 0px hsl(0 0% 0% / 0.4);
}

body {
  letter-spacing: var(--tracking-normal);
}
@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  /* Custom scrollbar styling */
  ::-webkit-scrollbar {
    width: 0.3125rem;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: hsl(var(--border));
    border-radius: 0.3125rem;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--border)) transparent;
  }
}

.xterm-viewport {
  border-radius: 0.75rem /* 12px */ !important;
}

.xterm .xterm-viewport {
  overflow-y: auto !important;
}

.xterm .xterm-screen {
  overflow: hidden;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* Codemirror */
.cm-editor {
  @apply w-full h-full rounded-md overflow-hidden border border-solid border-border outline-none;
}

.cm-editor .cm-scroller {
  font-family: inherit;
  line-height: inherit;
}

.cm-editor.cm-focused {
  @apply outline-none;
}

/* fix: placeholder bg */
.cm-editor .cm-activeLine:has(.cm-placeholder) {
  background-color: transparent;
}

.compose-file-editor .cm-editor {
  @apply min-h-[25rem];
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }
  25% {
    transform: scale(1.1);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 0.7;
  }
  75% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.7;
  }
}

.animate-heartbeat {
  animation: heartbeat 2.5s infinite;
}

@keyframes sparkle {
  0%,
  100% {
    transform: scale(1) rotate(0deg);
    opacity: 0.8;
  }
  25% {
    transform: scale(1.15) rotate(5deg);
    opacity: 1;
  }
  50% {
    transform: scale(1.05) rotate(-3deg);
    opacity: 0.9;
  }
  75% {
    transform: scale(1.1) rotate(3deg);
    opacity: 1;
  }
}

.animate-sparkle {
  animation: sparkle 2s ease-in-out infinite;
}
@media (prefers-color-scheme: dark) {
  .swagger-ui {
    background-color: white;
  }

  .swagger-ui .info {
    margin: 0px !important;
    padding-top: 1rem !important;
  }
}

/* Docker Logs Scrollbar */
@layer utilities {
  .custom-logs-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--muted-foreground)) transparent;
  }

  .custom-logs-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .custom-logs-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-logs-scrollbar::-webkit-scrollbar-thumb {
    background-color: hsl(var(--muted-foreground) / 0.3);
    border-radius: 20px;
  }

  .custom-logs-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--muted-foreground) / 0.5);
  }
}

.xterm-bg-257.xterm-fg-257 {
  background-color: var(--terminal-paste) !important;
  color: currentColor !important;
}

.cm-content,
.cm-lineWrapping {
  @apply font-mono;
}
